@import '../helpers/mixins';

h2 {
  color: $primary-color;
  font-weight: 500;
}

.nav {
  @include flexSpaceBetween(row);
  width: 100%;
  height: 4rem;
  margin-bottom: 5vh;

  &__item {
    margin: 1rem;
  }
}

.burger-menu {
  display: inline-block;
  border-radius: 25px;
  cursor: pointer;

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
  }
}

.side-menu {
  background-color: $primary-color-dark;
  align-items: right;
  opacity: 90%;
  margin: 0;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100vh;
  // @include flexSpaceBetween(column);
  position: fixed;
  transition: 850ms;

    a {
      text-decoration: none;
      color: $primary-text-color;
    }
}

.burger-menu.close {
  margin: 1rem;
  right: 0;
  float: right;

  // .bar1 {
  //   transform: rotate(-45deg);
  //   transform-origin: center center;
  // }
  // .bar2 {
  //   transition: 0.4s;
  //   transform: rotate(45deg);
  //   transform: 15px;
  //   transform-origin: center center;
  // }

  // .bar1,
  // .bar2 {
  //   width: 25px;
  //   height: 3px;
  //   background-color: white;
  //   margin: 4px 0;
  // }
}

.references {
  position: fixed;
  bottom: 0;
  margin: 5px;
}

.side-menu.active {
  right: 0;
  transition: 350ms;
}