@import 'helpers/palette';
@import 'components/header';
@import 'components/footer';
@import 'components/search';
@import 'components/lyrics';
@import 'helpers/images';
@import 'helpers/mixins';
        
html, body {
  background-color: black;
  color: $primary-color-text;
  background-image: url($mic-image);
  background-position: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
}

.container {
  height: auto;
  @include flexCenter(column);
  width: 100vw;
  font-family: Rockwell;
}