@import 'palette.scss';

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

$mic-image: '../images/mic.jpg';

html, body {
  background-color: black;
  color: $primary-color-text;
  background-image: url($mic-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
}

.container {
  height: auto;
  @include flexCenter(column);
  margin-bottom: 10vh;
  width: 95vw;
}
  div {
    margin-bottom: 5vh;
  }

  h2 {
    color: $primary-color;
    font-family: Rockwell;
    font-style: normal;
    font-weight: 500;
  }

  .search {
    align-items: center;
    //background-color: pink;
  }
    button {
      height: 2.3rem;
      width: 6rem;
      border-radius: 30px;
      border: 2px solid $accent-color;
      background-color: transparent;
      color: $primary-color-text;
      vertical-align: middle;
      font-size: 16px;
      transition: 0.3s;

      &:hover,
      &:focus {
        // box-shadow: 0 0.1em 0.1em 0 ;
        border-color: $primary-color-text;
        color: $accent-color;
        // transform: translateY(-0.25em);
      }
      // &:hover {
      //   height: 2.7rem;
      //   width: 2.7rem;
      //   background-color: rgba(255, 255, 255, 0.2);
      // }
    }

  #search-bar {
    border-radius: 30px;
    border: 2px solid $primary-color;
    padding: 10px;
    width: 50vw;
    height: 1rem;
    font-size: 1rem;
    background-color:rgba(0, 0, 0, 0.5);
    color: $primary-color-text;
    margin-right: 1rem;
  }
    :focus {
      outline-color: transparent;
      outline-style: none;
    }
  // .lyrics {
  //   background-color: teal;
  // }